#sprites{
    display: none;
}

/*Min-width: 520px. Min-height: 470px*/
#container{
    display: grid;
    grid-template:
        " . score  lifes  . "
        " . canvas canvas . "
        " . alert  alert  . ";
    grid-template-columns: 1fr 250px 250px 1fr;
    grid-row-gap: 10px;
}
canvas{
    grid-area: canvas
}
#player-lifes{
    grid-area: lifes;
    text-align: right;
}
#player-score{
    grid-area: score;
}
#alert-box{
    grid-area: alert;
    display: none;
    background-color: #F99;
    padding: 1%;
    border-radius: 1px;
}
